* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  background: url("images/green.jpg");
  background-size: cover;
  padding: 0rem 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding-left: .75rem;
  font-size: 1rem;
}
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(61, 61, 61);
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* after effect japanease b&w text */
.slider {
  background: rgb(1, 1, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
/* japanease b&w text */
.intro-text {
  color: rgb(1, 1, 1);
  /* font-family: "Heebo", sans-serif; */
  font-size: 2.10rem;
}

.hide {
  background: rgb(1, 1, 1);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.parent-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid pink;
}
.parent {
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}

.child {
  display: inline-block;
  background-color: red; /* For browsers that do not support gradients */
  background-image: radial-gradient(red, yellow, green);
  margin: 10px 0 0 10px;
  flex-grow: 1;
  height: 100px;
}
